<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceLoginPortBinding" />
                <binding name="WebServiceUsuarioPortBinding" />
                <binding name="WebServiceClientePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServiceJava/WebServiceLogin"
                binding="basicHttpBinding" bindingConfiguration="WebServiceLoginPortBinding"
                contract="WebServiceLoginUsuario.WebServiceLogin" name="WebServiceLoginPort" />
            <endpoint address="http://localhost:8080/WebServiceJava/WebServiceNuevoUsuario"
                binding="basicHttpBinding" bindingConfiguration="WebServiceUsuarioPortBinding"
                contract="WebServiceUsuario.WebServiceUsuario" name="WebServiceUsuarioPort" />
            <endpoint address="http://localhost:8080/WebServiceJava/WebServiceCliente"
                binding="basicHttpBinding" bindingConfiguration="WebServiceClientePortBinding"
                contract="WebServiceCliente.WebServiceCliente" name="WebServiceClientePort" />
        </client>
    </system.serviceModel>
</configuration>